.sidebar {
  width: 35%;
  height: 100%;
  background-color: white;
  border-right: 1px solid rgb(0, 0, 0);
  overflow-y: auto;
  transition: transform 0.3s;
}

.sidebar a{
  text-decoration: none;
  color: black;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  padding-bottom: 3rem;
}
.sidebar-list .center{
  margin: 15px 0;
  text-align: center;
}

.sidebar-list .btn-more{
  background-color: #d8d8d8;
  border: 1px solid rgb(211, 211, 211);
  padding: 0.3rem 2rem;
  border-radius: 15px;
  cursor: pointer;

}

.sidebar-list  li {
  padding: 10px;
  border-bottom: 1px solid #d8d8d8;
  cursor: pointer;
}

.sidebar-list li:hover {
  background-color: #e4e4e4;
}


.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  margin-top: 10px;
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite; 
  margin-bottom: 5px; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.container {
  display: flex;
  justify-content: space-between; 
}

.iplus {
  text-align: right;
}

.left-div {
  width: 90%; 
 
}

.right-div {
  font-size: 30px;
  width: 10%;
  border-bottom: 1px solid #d8d8d8;

}

.loading-container {
  margin-top:10px ;
  display: flex;
  align-items: center; 
}